.formblock{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
    
}

.form-control-group{
    padding: 20px 20px;
    
}
.button-group{
    margin-left: 0;
    
}
.valid-string{
    color: red;
    margin-left: auto;
    font-size: xx-large;
}

.hi-input{
    width: 200px;
    padding-right: 0.5em;
  
}

.hi-label{
    width: 100px;
    padding-right: 0.5em;
  
}

.te-label{
    width: 4em;
    padding-right: 0.5em;
}
.te-input{
    width: 8em;
    padding-right: 0.5em;
}
.te-delete-btn {
    margin-left: auto

}
.te-add-btn {
color: green;   
margin: 20px 20px;

}

.sc-label{
    width: 5em;
    padding-right: 0.5em;
}
.sc-input{
    width: 15em;
    padding-right: 0.5em;
}
.sc-delete-btn {
    margin-left: auto

}
.sc-add-btn {
color: green;   
margin: 20px 20px;

}