<div class="navbar navbar-default">

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <a class="navbar-brand" href="#">Downsman</a>
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/entries']" routerLinkActive="active">My Entries</a>
      </li>
      <li class="nav-item">>
        <a [routerLink]="['/createEntry']" routerLinkActive="active">Create Entry</a>
      </li>
      <li class="nav-item" *ngIf="userService.currentUserIsAdmin()">
        <a [routerLink]="['/todo']" routerLinkActive="active"> Todo </a>
      </li>
      <li class="nav-item" *ngIf="userService.currentUserIsAdmin()">
        <a [routerLink]="['/admin']" routerLinkActive="active"> Admin </a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]="['user/login']" routerLinkActive="active"> Login </a>
      </li>
    </ul>
  </nav>
</div>