<div>
  <md-toolbar color="primary">

    <span>Downsman Signup Pages</span>


    <span>
      <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>more_vert</md-icon>
      </button> 
      <md-icon>mood</md-icon>
    </span>

  </md-toolbar>
  <md-icon svgIcon="thumbs-up"></md-icon>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Settings</button>
    <button md-menu-item>Logout</button>
  </md-menu>

  <md-card>
    <button md-raised-button>Show my Entries</button>
    <button md-raised-button>Create new Entry</button>
  </md-card>
</div>