@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.main-background {
    color: white;
    background-color: #9575CD;
  }
.thumb-background {
    color: black;
    background-color: lightgray;
  }
md-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: left;
}

md-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}
